@page "/event"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess 

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
    }

    .flexColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rightAlign {
        margin-left: auto;
        margin-right: 0;
    }

    .flexStart {
        justify-content: flex-start;
    }

    img {
        max-width: 100%;
    }
</style>

<br />

<h3 style="text-align:center">@sess.currentEvent.name</h3>

<br />

<div class="flexColumn">
    <img src=@ImagePath />
    <br />
    <RadzenCard>
        <div class="flexColumn">
            <RadzenText TextStyle="TextStyle.H4" >@sess.currentEvent.name</RadzenText>
            <RadzenText TextStyle="TextStyle.H5" >@cs.museums[sess.currentEvent.museum].name</RadzenText>

            <div class="flexRow  flexStart">
                <RadzenIcon Icon="schedule" />

                <RadzenText TextStyle="TextStyle.H5">@sess.currentEvent.startTime.ToShortDateString()</RadzenText>
            </div>
            <div class="flexRow  flexStart">
                <RadzenIcon Icon="event" />

                <RadzenText TextStyle="TextStyle.H5">@sess.currentEvent.startTime.ToShortTimeString()</RadzenText>
            </div>
            <div>@sess.currentEvent.description</div>

        </div>
    </RadzenCard>
    <RadzenButton class="mainColor" Click=@(args => OnClickRegister()) Style="width: 100%;" Text="Register" />

</div>

@code {
    public string ImagePath { get; set; } = "Images/randmuseum.png";

    async void OnClickRegister()
    {
        await App.Current.MainPage.Navigation.PushAsync(new xTicketDetails());
    }
}

