@page "/event"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess 

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .rightAlign {
        margin-left: auto;
        margin-right: 0;
    }

    img {
        max-width: 100%;
        margin: auto;
        display: block;
        background-size: 90% auto;
        justify-content: center;
    }

    body {
        padding: 20px;
    }
</style>

<br />
<body>
<div class="flexColumn">
    <img src=@ImagePath />

    <br />

    <RadzenCard Class="rz-background-color-primary-lighter rz-shadow-0"
                style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem; border-radius: 20px">
        <div>
            <div class="flexRow">
                <RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Left">@sess.currentEvent.name</RadzenText>
                <div class="flexRow rightAlign">
                    <RadzenIcon Icon="schedule"/>
                    <RadzenText TextStyle="TextStyle.H5"
                                TextAlign="TextAlign.Right">@sess.currentEvent.startTime.ToShortDateString()</RadzenText>
                </div>
            </div>
            <div class="flexRow">
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@cs.museums[sess.currentEvent.museum].name</RadzenText>
                <div class="flexRow rightAlign">
                    <RadzenIcon Icon="event"/>
                    <RadzenText TextStyle="TextStyle.H5"
                                TextAlign="TextAlign.Right">@sess.currentEvent.startTime.ToShortTimeString()</RadzenText>
                </div>
            </div>
        </div>
        <div>
            <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Left">Price: €@sess.currentEvent.price</RadzenText>
        </div>
        <div>
            <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Left">@sess.currentEvent.description</RadzenText>
        </div>
    </RadzenCard>

    <RadzenButton class="mainColor" Click=@(args => OnClickRegister()) Style="width: 100%; margin-top: 20px" Text="Register" />

</div>
</body>

@code {
    public string ImagePath { get; set; } = "Images/randmuseum.png";

    async void OnClickRegister()
    {
        await App.Current.MainPage.Navigation.PushAsync(new xTicketDetails());
    }
}

