@page "/eventcard"

@using Radzen
@using Microsoft.Maui.Graphics
@using musei.Data
@inject CosmosService cs
@inject Session sess


<style>
    .flexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
    }

    .flexColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .textIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
        justify-content: space-between;
        height: 100%;
        gap: 5px;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 20px;
    }
</style>

<RadzenCard class="flexColumn rz-shadow-0" Style="border-radius: 20px;">
    <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent())>
        <img src=@e.imageURL />
    </RadzenButton>
    <div class="flexRow">
        <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent()) Text=@e.name Size="ButtonSize.Large"
                      Style="color: #F52D11;" />
        <div class="textIcon">
            @*<RadzenText TextStyle="TextStyle.Button" TextAlign="TextAlign.Right" Style="color: #F52D11">@e.startTime.ToShortTimeString() </RadzenText>*@
            <p style="color: #F52D11">@e.startTime.ToShortTimeString()</p>
            <RadzenIcon Icon="schedule"  style="color: #F52D11; margin-right: 10px"/>
        </div>
    </div>
    <div class="flexRow">
        <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMuseum()) Text=@cs.museums[e.museum].name Size="ButtonSize.Large"
                      Style="color: #F52D11;" />
        <div class="textIcon">
            @*<RadzenText TextStyle="TextStyle.H5" Style="color: #F52D11">@e.startTime.ToShortDateString()</RadzenText>*@
            <p style="color: #F52D11">@e.startTime.ToShortDateString()</p>
            <RadzenIcon Icon="event"  style="color: #F52D11; margin-right: 10px"/>
        </div>
    </div>

    <div style="color: black; margin-left: 20px; margin-right: 10px">@e.description</div>
</RadzenCard>

@code {
    [Parameter]
    public Event e { get; set; }

    async void OnClickEvent()
    {
        sess.currentEvent = e;
        await App.Current.MainPage.Navigation.PushAsync(new xEventPage());
    }
    async void OnClickMuseum()
    {
        sess.currentMuseum = cs.museums[e.museum];
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }
}

