@page "/eventcard"

@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div>
        <img src=@ImagePath />
        @*<MauiImage Include="Resources/Images/dino.jpeg" Color="#512BD4" />*@

        <div class="flexRow">
            <div>
                <RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Left">@EventName</RadzenText>
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@MuseumName</RadzenText>
            </div>
            <div class="rightAlign">
                <div class="flexRow rightAlign">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@Date</RadzenText>
                    <RadzenIcon Icon="schedule" />
                </div>
                <div class="flexRow rightAlign">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@Time</RadzenText>
                    <RadzenIcon Icon="event" />
                </div>
            </div>
        </div>
    </div>
    <div>@Body</div>


</RadzenCard>

@code {
    [Parameter]
    public string EventName { get; set; }

    [Parameter]
    public string MuseumName { get; set; }

    [Parameter]
    public string Date { get; set; }

    [Parameter]
    public string Time { get; set; }

    [Parameter]
    public string Body { get; set; }

    [Parameter]
    public string ImagePath { get; set; }
}

