@page "/event"
@using Radzen

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>@EventName </h3>
<RadzenCard>
    <img src=@ImagePath />
</RadzenCard>
<RadzenCard>
    <div>
        @*<MauiImage Include="Resources/Images/dino.jpeg" Color="#512BD4" />*@

        <div class="flexRow">
            <div>
                <RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Left">@EventName</RadzenText>
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@MuseumName</RadzenText>
            </div>
            <div class="rightAlign">
                <div class="flexRow rightAlign flexEnd">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@Date</RadzenText>
                    <RadzenIcon Icon="schedule" />
                </div>
                <div class="flexRow rightAlign flexEnd">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@Time</RadzenText>
                    <RadzenIcon Icon="event" />
                </div>
            </div>
        </div>
    </div>
    <div>@Body</div>


</RadzenCard>
<RadzenButton class="mainColor" Style="width: 100%;" Text="Register" />


@code {

    [Parameter]
    public string EventName { get; set; } = "Dino Event";

    [Parameter]
    public string MuseumName { get; set; } = "Dino Musuem";

    [Parameter]
    public string Date { get; set; } = "11/11/11";

    [Parameter]
    public string Time { get; set; } = "12:30 - 5:30";

    [Parameter]
    public string Body { get; set; } = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris";

    [Parameter]
    public string ImagePath { get; set; } = "images/dino.jpeg";
}

